@model AdBagWeb.Models.Category
@using AdBagDictionaries
@{
    ViewData["Title"] = Properties.CategoryDetails;
}

<h3>@Properties.Details</h3>

<div>
    <h4>@Properties.Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Properties.CategoryID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCategory)
        </dd>
        <dt>
            @Properties.CategoryName
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-sm-1">
    <a class="btn btn-default" asp-action="Index">@Properties.Back</a>
    </div>

    <div class="col-sm-1">
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.IdCategory">@Properties.Edit</a>
    </div>

</div>
