@model IEnumerable<AdBagWeb.Models.Category>
@using AdBagDictionaries
@{
    ViewData["Title"] = Properties.CategoriesList;
}

<h2>@Properties.CategoriesList</h2>

<p>
    <a asp-action="Create">@Properties.CreateNew</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
               @Properties.CategoryName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategory">@Properties.Edit</a> 
                <a asp-action="Details" asp-route-id="@item.IdCategory">@Properties.Details</a> 
                <a asp-action="Delete" asp-route-id="@item.IdCategory">@Properties.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
