@model IEnumerable<AdBagWeb.Models.Announcement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoryNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoryNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAnnouncement">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAnnouncement">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnnouncement">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
