@model IEnumerable<AdBagWeb.Models.Announcement>
@using AdBagDictionaries
@using AdBagWeb.Classes
@{
    ViewData["Title"] = "List";
}

<header class="page-header">

    <form asp-action="List" method="get">
        <div class="form-actions no-color">
            <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
            <h4>Find by:</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="row form-group">

                        Name
                        @Html.RadioButton("searchBy", "name", true)

                        Category
                        @Html.RadioButton("searchBy", "category", false)

                        User
                        @Html.RadioButton("searchBy", "user", false)
                    </div>
                    <div class="row form-group">
                        <input type="text" name="searchValue" />
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h6>Category</h6>
                        <select class="form-control" id="category" name="category">
                            @if (!String.IsNullOrEmpty(ViewBag.Category))
                            {
                                <option>@(ViewBag.Category)</option>
                            }
                            @if (ViewBag.Category != "All")
                            {
                                <option>All</option>
                            }
                            @foreach (Category item in ViewBag.Categories)
                            {
                                <option>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</header>

@{
    if (Authentication.Instance.IsUserLoggedIn())
    {
        <p>
            <a class="btn btn-primary" asp-action="Create">Add a add</a>
        </p>
    }
}
<!--List-->
<table class="table" id="mainTable">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Title", "List", new
                    {
                        sortBy = ViewBag.TitleSortParm,
                        searchBy = ViewBag.SearchBy,
                        searchValue = ViewBag.SearchValue,
                        category = ViewBag.Category
                    })

            </th>
            <th>
                @Html.ActionLink("Upload time", "List", new
                    {
                        sortBy = ViewBag.DateSortParm,
                        searchBy = ViewBag.SearchBy,
                        searchValue = ViewBag.SearchValue,
                        category = ViewBag.Category
                    })

            </th>
            <th>
                @Html.ActionLink("Category", "List", new
                    {
                        sortBy = ViewBag.CategorySortParm,
                        searchBy = ViewBag.SearchBy,
                        searchValue = ViewBag.SearchValue,
                        category = ViewBag.Category
                    })

            </th>
            <th>
                @Html.ActionLink("User", "List", new
                    {
                        sortBy = ViewBag.UserSortParm,
                        searchBy = ViewBag.SearchBy,
                        searchValue = ViewBag.SearchValue,
                        category = ViewBag.Category
                    })

            </th>
            <th>

            </th>
            <th>
                Photo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoryNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUserNavigation.Username)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdAnnouncement">Details</a>
                    @if (Authentication.Instance.IsAdmin())
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdAnnouncement">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.IdAnnouncement">Delete</a>
                    }
                </td>
                <td>
                    @if (item.IdImage != null)
                    {

                        var imgSrc = item.IdImageNavigation.Path;
                        <img src="@imgSrc" style="max-width:200px;max-height:150px" />
                    }
                    else
                    {
                        <img src="~/images/image-not-found.jpg" style="max-width:200px;max-height:150px" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Grid-->
@*<div class="container">

        @{
            foreach (var item in Model)
            {
                <div class="col-md-4">
                    @if (item.IdImage != null)
                    {
                        var imgSrc = item.IdImageNavigation.Path;
                        <img src="@imgSrc" style="max-width:200px;max-height:150px" />
                    }
                    else
                    {
                        <img src="~/images/image-not-found.jpg" style="max-width:200px;max-height:150px" />
                    }
                </div>
            }
        }

    </div>*@


<!--Pagination
<div class="container">
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>

    </ul>
</div>
    -->
