@model IEnumerable<AdBagWeb.Models.Announcement>
@using AdBagDictionaries
@using AdBagWeb.Classes
@{
    ViewData["Title"] = "List";
}

<header class="page-header">

    <form asp-action="List" method="get">
        <div class="form-actions no-color">
            <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
            <div class="list-group list-inline">
                <h4>Find by:</h4>
                Name
                @Html.RadioButton("searchBy", "name", true)
                User
                @Html.RadioButton("searchBy", "user", false)
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchValue" value="@ViewBag.SearchValue" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                        </span>
                    </div>
                </div>
                <div class="input-group col-md-4">
                    <select class="" id="category" name="category">
                        @if (!String.IsNullOrEmpty(ViewBag.Category))
                        {
                            <option>@(ViewBag.Category)</option>
                        }
                        @if (ViewBag.Category != "All")
                        {
                            <option>All</option>
                        }
                        @foreach (Category item in ViewBag.Categories)
                        {
                            <option>@item.Name</option>
                        }
                    </select>
                </div>
                @{
                    if (Authentication.Instance.IsUserLoggedIn())
                    {
                        <div class="col-md-3">
                            <a class="btn btn-default" asp-action="Create"> Create</a>
                        </div>
                    }
                }
            </div>
        </div>
    </form>
</header>

<!--Grid-->
<div class="container">

    @{
        int count = 0;
        foreach (var item in Model)
        {
            if (count % 3 == 0)
            {
                @Html.Raw("<div class=\"row\">");
            }
            <div class="col-md-4">
                <a href="Details/?id=@item.IdAnnouncement" style="text-decoration:none" class="thumbnail">

                    @if (item.IdImage != null)
                    {
                        var imgSrc = item.IdImageNavigation.Path;
                        <img src="@imgSrc" class="img-responsive" />
                    }
                    else
                    {
                        <img src="~/images/image-not-found.jpg" class="img-responsive" />
                    }

                    <div class="caption">

                        @if (item.Title.Length > 22)
                        {
                            <h4>
                                @item.Title.Substring(0, 20)
                                ...
                            </h4>
                        }
                        else
                        {
                            <h4>
                                @item.Title
                            </h4>
                        }

                        <i class="glyphicon glyphicon-user"></i>
                        @if (item.IdUserNavigation.Username.Length > 22)
                        {
                            @item.IdUserNavigation.Username.Substring(0, 20)
                            <text>...</text>
                        }
                        else
                        {
                            @item.IdUserNavigation.Username
                        }

                        @if (!String.IsNullOrEmpty(item.Curency) && item.Price != null)
                        {
                            <label class="label label-success">
                                @item.Price @item.Curency
                            </label>
                        }

                        @if (item.Description.Length > 100)
                        {
                            <p>
                                @item.Description.Substring(0, 100)
                                ...
                            </p>
                        }
                        else
                        {
                            <p>
                                @item.Description
                            </p>
                        }
                    </div>
                </a>
            </div>
            if (count % 3 == 2)
            {
                @Html.Raw("</div>");
            }
            count++;
        }
    }
</div>
